---
import BlogPost from '@components/BlogPost.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import fetchApi from '@lib/strapi.ts';

// Fetching from local markdown files
// const allPosts = await Astro.glob('./posts/*.md');
const allPosts = await fetchApi<any[]>({
  endpoint: 'posts',
  wrappedByKey: 'data'
});
const pageTitle = 'My Blog';
---
<style>
    .posts {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
</style>
<BaseLayout pageTitle={pageTitle}>
  <h2>This is my blog page</h2>

  <div class="posts">
    {allPosts.map(post => <BlogPost url={`/posts/${post.attributes.slug}`} title={post.attributes.title} description={post.attributes.description}/>)}
    <!-- When fetched from local markdown files -->
    <!-- {allPosts.map(post => <BlogPost url={post.url} title={post.frontmatter.title} description={post.frontmatter.description}/>)} -->
  </ul>
</BaseLayout>
