---
import BaseLayout from './BaseLayout.astro';

const { post } = Astro.props;
---
<style>
    article {
        margin-top: 1em;
    }

    .tags {
        display: flex;
        gap: 0.5em;
        margin: 0.5em;
    }
    .tag {
        border-radius: 25px;
        background-color: lightslategray;
        min-width: 50px;
        max-width: 150px;
        padding: 0.5em;
        text-align: center;
        text-decoration: none;
        color: whitesmoke
    }

    img {
        margin: 1em;
    }
</style>

<BaseLayout pageTitle={post.title}>
    <header>
        <p>Authored by {post.author}</p>
        <p>Published on: {new Date(post.pubDate).toDateString()}</p>
        <p>{post.description}</p>
        {post.image && 
            <img src={post.image.url} alt={post.image.alt} width='300px' />
        }
        <div class="tags">
            {post.tags.map((tagName: string) => <a class="tag" href={`/tags/${tagName}`}>{tagName}</a>)}
        </div>
    </header>
    
    <article>
        <slot />
    </article>
</BaseLayout>